.App {
  font-family: 'Lato', sans-serif;
  caret-color: transparent;
}


.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  cursor: default;
  
}

.red {
  color: rgb(252, 67, 67);
}

.white {
  color: white;
}

.spaced {
  padding-left: 10px;
}

.App-body {
  background-color: rgb(24, 24, 24);
  height: 100vh;

  display: flex;
  flex-direction: column;
  row-gap: 50px;

}